[submodule "src/datalab"]
	path = src/datalab
	url = git@github.com:datalab-org/datalab
[submodule "src/datalab-ansible-terraform"]
	path = src/datalab-ansible-terraform
	url = git@github.com:datalab-industries/datalab-ansible-terraform
