---
- name: Add Docker GPG apt Key
  become: true
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker Repository
  become: true
  ansible.builtin.apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu focal stable
    state: present

- name: Update apt and install docker-ce
  become: true
  ansible.builtin.apt:
    name: docker-ce
    state: present
    update_cache: true

- name: Install Docker Module for Python
  ansible.builtin.pip:
    name: docker

- name: Add user '{{ ansible_ssh_user }}' to docker group
  become: true
  ansible.builtin.user:
    name: "{{ ansible_ssh_user }}"
    groups: docker
    append: true
    state: present

- name: Reset ssh connection to allow user changes to affect ansible user
  ansible.builtin.meta: reset_connection
